<h2><%= link_to 'Add a picture', new_picture_path %></h2>
<% if @pictures.any? %>
  <% @pictures.each do |picture| %>
    <%= link_to "#{picture.name}", picture_path(picture) %>
  <% end %>
<% else %>
  <h2>No pictures yet</h2>
<% end %>