<%= link_to 'Add a picture', new_picture_path, class: "btn btn-lg btn-primary" %>
<% if @pictures.any? %>
  <% @pictures.each do |picture| %>
    <%= link_to "#{picture.name}", picture_path(picture) %>
    <%= image_tag picture.image.url(:thumb) %>
  <% end %>
<% else %>
  <h2>No pictures yet</h2>
<% end %>
