<div class="center jumbotron">
  <h1>Welcome to Henrygram.</h1>
  <h2>Find and post all of your favourite pictures of Henry the Beagle here.</h2>
  <%= link_to 'Add a picture', new_picture_path, class: "btn btn-lg btn-primary" %>
  <%= link_to 'View pictures', pictures_path, class: "btn btn-lg btn-primary" %>
</div>

<% if @pictures.any? %>
  <% @pictures.each do |picture| %>
    <%= link_to "#{picture.name}", picture_path(picture) %>
    <%= image_tag picture.image.url(:thumb) %>
  <% end %>
<% else %>
  <h2>No pictures yet</h2>
<% end %>
