@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  color: #fff
}

#logo:hover {
  text-decoration: none;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: #777;
}

.center {
  text-align: center;
}
