@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  height: 100%;
}

body {
  padding-top: 60px;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -100px;
}

.push {
  height: 50px;
}

#logo {
  float: left;
  margin-top: 6px;
}

#logoname {
  margin-left: 5px;
  margin-right: 10px;
  font-size: 1.7em;
  letter-spacing: -1px;
  font-weight: bold;
  color: #fff
}

#logoname:hover {
  text-decoration: none;
}

#logopicture {
  height: 40px;
  padding-bottom: 5px;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: #777;
}

.center {
  margin-top: 20px;
  text-align: center;
}

#henry {
  height: 200px;
}

.footer {
  bottom: 0;
  height: 50px;
  padding-top: 10px;
  border-top: 1px solid #eaeaea;
  color: #777;
  text-align: center;
}

