@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  height: 100%;
}

body {
  padding-top: 60px;
}

.wrapper {
  min-height: 92%;
  height: auto !important;
  padding-bottom: 20px;
  margin: 0 auto -50px;
}

.push {
  height: 50px;
}

#logo {
  float: left;
  margin-top: 6px;
}

#logoname {
  margin-left: 5px;
  margin-right: 10px;
  font-size: 1.7em;
  letter-spacing: -1px;
  font-weight: bold;
  color: #fff
}

#logoname:hover {
  text-decoration: none;
}

#logopicture {
  height: 40px;
  padding-bottom: 5px;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  font-weight: normal;
  color: #777;
}

.center {
  text-align: center;
}

#henry {
  height: 200px;
}

.add-picture {
  float: right;
}

.footer {
  height: 50px;
  padding-top: 15px;
  border-top: 1px solid #eaeaea;
  color: #777;
  text-align: center;
}

textarea {
  vertical-align: middle;
  width: 500px;
  max-width: 100%;
  margin-bottom: 10px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

img.main-pic {
  max-width: 100%;
  max-height: 250px;
}

@media (min-width: 768px) {
  img.main-pic {
    max-height: 550px;
  }
}

section {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.return-button {
  text-align: right;
  margin-bottom: -10px;
}

.delete-pic {
  float: right;
}

.thumbnail {
  max-width: 100%;
  max-height: 80px;
}

@media (min-width: 768px) {
  .thumbnail {
    max-height: 130px;
  }
}

.picture-nav {
  margin-top: 10px;
  margin-bottom: -20px;
}

.pagination {
  margin-top: 5px;
  margin-bottom: 10px;
}
