<div id="error_explanation" >
  <p class="alert alert-danger"> <%= pluralize(object.errors.count, "error") %> prohibited the item from being posted:</p>
  <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
